---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bootstrap/bootstrap';

.red {color: red;}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
.venue{
  padding-top: 1em;
}

.main-news{
  padding-bottom: 2.5em;
}

.cancelled{
  text-decoration: line-through;
}
